<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Other info</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if !user.admin %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= pluralize(user.books.count, 'book')%></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
          <% if current_user.admin %>            
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure, mastah?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
