<h1>Client#index</h1>
<p>Find me in app/views/client/index.html.erb</p>
<h1>param were:</h1>
<p><%= "STATUS: " + params[:status] %></p>
<p><%= "FOO: " + params[:foo] %></p>
<p><%= "ACTION: " + params[:action]%></p>
<p><%= "CONTROLLER: " + params[:controller]%></p>
<p><%= "MAGIC: " + params[:magic]%></p>
